# Ignore node_modules directory
node_modules/
.env
csv/
ignore/
/client/build
/client/.env
/server/.env
/server/myapp.zip
/client/node_modules
/client/public/04picture
/client/src/component/messageLog.js
/server/.ebextensions
/server/.elasticbeanstalk
/server/csv
/server/node_modules
docker
dockerfile