.arrow {
    position: absolute;
    height: 5px;
    background-color: red;
    /* 矢印の色 */
}

.arrow::after {
    content: '';
    position: absolute;
    right: -2px;
    top: 50%;
    border-left: 25px solid red;
    /* 矢印の先端（三角形）の色 */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: translateY(-50%);
}